<div class="app-header">
  <h1 class="mat-h1">Todoer</h1>
  <h2 class="mat-h2">An App For Doing Stuff</h2>
</div>
<mat-grid-list cols="2" rowHeight="1.5:1" class="landing-body">
  <mat-grid-tile>
    <div class="feature">
      <div class="icon"><mat-icon inline="true">tab</mat-icon></div>
      Create a project...
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="feature">
      <div class="icon"><mat-icon inline="true">toc</mat-icon></div>
      Add some items...
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="feature">
      <div class="icon"><mat-icon inline="true">calendar_today</mat-icon></div>
      Set some due dates...
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="feature">
      <div class="icon"><mat-icon inline="true">done_outline</mat-icon></div>
      Classic TODO'ing!
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="app-footer">
  <a mat-button href="https://jeffers.io">jeffers.io 2019</a>
</div>
